h1{
    background-color:  black;
    font-family:'Cousine';
    color:rgb(255, 255, 255);
    text-align:center;
    border: 1px solid white;
    margin:0px;
}
body{
    background-color: black;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h3{
    background-color:  rgb(255, 255, 255);
    text-align:center;
    font-family:'Cousine';
    color:rgb(0, 0, 0);
}
h4{
    background-color: black;
    font-family:'Cousine';
    font-size:16px;
    color:rgb(255, 255, 255);
    text-align:left;
}
p{
    text-align: center;
    margin: 80px;
}
h6{
    text-align:right;
    font-family:'Cousine';
    color: white;
    font-size:10px;
}
.mainContainer{
    display:block;
    margin-left:auto;
    margin-right:auto;
    color:solid black;
    background-color: black;
}
#demo{
    background-color: black;
}
.picWidth{
    margin: auto;
    height:50%;
    width: 60%;
    border: 5px solid black;
    padding: 10px;
    color:solid black;
    background-color: black;
}
@media only screen and (max-width: 1000px) {
    body {
      background-color: black;
    }
  }
  iframe {
    width:60%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:  black;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  button{
      color:black;
  }
  #menu:link{
      color:white;
  }
  #menu:visited{
    color:white;
}
#menu:hover{
    color:white;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    width: 40px;
}

